@font-face {
  font-family: 'BOOT6juin2019';
  src: url('./fonts/BOOTjuin.eot');
  src: url('./fonts/BOOTjuin.eot?#iefix') format('embedded-opentype'),
      url('./fonts/BOOTjuin.woff2') format('woff2'),
      url('./fonts/BOOTjuin.woff') format('woff'),
      url('./fonts/BOOTjuin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu.eot');
  src: url('./fonts/Apercu.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Apercu.woff2') format('woff2'),
      url('./fonts/Apercu.woff') format('woff'),
      url('./fonts/Apercu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Light.eot');
  src: url('./fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Apercu-Light.woff2') format('woff2'),
      url('./fonts/Apercu-Light.woff') format('woff'),
      url('./fonts/Apercu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



